In [0]:
import numpy as np

In [0]:
arr1=np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [0]:
# Q1 Write a numpy code to swap col1([0,5,10,15]) with col4([3,8,13,18])
# Hint----> Fancy Indexing
arr1=np.arange(20).reshape(4,5)
arr2=arr1[:,(3,1,2,0,4)]
arr2

array([[ 3,  1,  2,  0,  4],
       [ 8,  6,  7,  5,  9],
       [13, 11, 12, 10, 14],
       [18, 16, 17, 15, 19]])

In [0]:
# Q2 Write a numpy code to reverse the rows of arr1
# The output should be [15, 16, 17, 18, 19] as first row and [ 0,  1,  2,  3,  4] as last row
arr1=np.arange(20).reshape(4,5)
arr2=arr1[(3,2,1,0),:]
arr2

array([[15, 16, 17, 18, 19],
       [10, 11, 12, 13, 14],
       [ 5,  6,  7,  8,  9],
       [ 0,  1,  2,  3,  4]])

In [0]:
arr2=np.array([[1,2,np.nan],[4,5,6],[np.nan,np.nan,9]])
arr2

array([[ 1.,  2., nan],
       [ 4.,  5.,  6.],
       [nan, nan,  9.]])

In [0]:
# Q3 Write a code to replace all the nan(missing values) of arr2 with the mean of arr2

arr2=np.array([[1,2,np.nan],[4,5,6],[np.nan,np.nan,9]])
arr2
a=np.mean(arr2)
arr2[np.isnan(arr2)==True]=0
a=np.mean(arr2)
arr2[arr2==0]=a
arr2

array([[1., 2., 3.],
       [4., 5., 6.],
       [3., 3., 9.]])

In [0]:
arr3=np.random.randint(low=1,high=100,size=20).reshape(5,4)
arr3

array([[93,  7, 11, 72],
       [34, 72, 46, 70],
       [12, 29, 15, 42],
       [16,  6, 79, 11],
       [10,  1, 98, 20]])

In [0]:
# Q4 Write a code which can fetch all items from arr3 which are either greater than 25 or a multiple of 3
arr3[(arr3>25) | (arr3%3==0)]

array([93, 72, 34, 72, 46, 70, 12, 29, 15, 42,  6, 79, 98])

In [0]:
# Q5 Write a code to find the 10th, 25th, 50th(median) percentile of arr3
# Percentiles are a very important concept in Statistics. If you don't know about it refer the video below
# https://www.youtube.com/watch?v=Snf6Wpn-L4c 
# Hint: to solve this function google np.percentile()

#50th percentile
a=np.percentile(arr3,50)
#25th percentile
b=np.percentile(arr3,25)

#10th percentile(arr3,10)
c=np.percentile(arr3,10)
print(a)
print(b)
print(c)

24.5
11.0
6.9